.chat--main
  .chat--main__group--info
    .chat--main__group--info__left
      .chat--main__group--info__left__group--name
        test
      .chat--main__group--info__left--members
        Member : Kaito
    .chat--main__group--info__edit
      = link_to "#"  do
        Edit
  .chat--main__message--list
    .chat--main__message--list__show
      .chat--main__message--list__show--comment
        = render @messages
          


  .chat--main__form
    = form_for [@group, @message] do |f|
      .chat--main__form__box
        = f.text_field :content,class: 'chat--main__form__box__comment', placeholder: 'type a message'
        .chat--main__form__box__comment__message
          = f.label :image, class: 'chat--main__form__box__comment__message--img' do
            = icon("fas", "image" ,class:'chat--main__form__box__comment__message--img--icon')
            = f.file_field :image, class: 'chat--main__form__box__comment__message--img--file'
        = f.submit 'Send', class: 'chat--main__form__box__send' 
  